<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!---->
        <title>{{ shop.name }}</title>
        <!---->
        <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
        <link rel="apple-touch-icon" href="data:;base64,iVBORw0KGgo=" />
        <meta content="http://127.0.0.1:9292/" property="og:url" />
        <link rel="canonical" href="http://127.0.0.1/" />
        <meta content="Home" property="og:title" />
        <meta name="twitter:title" content="Home" />
        <meta content="website" property="og:type" />
        <meta property="og:image" />
        <meta name="twitter:image" />
        <meta content="" property="og:image:alt" />
        <meta content="" name="twitter:image:alt" />
        <meta name="twitter:card" content="summary_large_image" />
        <link rel="preconnect" />
        <link rel="alternate" hreflang="x-default" href="http://127.0.0.1:9292/" />
        <!--[-->
        <link
                href="https://cdn.zyrosite.com/u1/google-fonts/font-faces?family=Montserrat:wght@400&amp;family=Poppins:wght@400&amp;display=swap"
                rel="preconnect"
                crossorigin="true"
        />
        <link
                href="https://cdn.zyrosite.com/u1/google-fonts/font-faces?family=Montserrat:wght@400&amp;family=Poppins:wght@400&amp;display=swap"
                rel="preload"
                as="style"
        />
        <link
                href="https://cdn.zyrosite.com/u1/google-fonts/font-faces?family=Montserrat:wght@400&amp;family=Poppins:wght@400&amp;display=swap"
                rel="stylesheet"
                referrerpolicy="no-referrer"
        />
        <!--]-->
        <style></style>
        <link rel="stylesheet" href="{{ '_...slug_.c0386cae.css' | asset_url }}" />
        <script type="module" src="{{ 'page.d79c7bc6.js' | asset_url }}"></script>

        {{ content_for_header }}
    </head>
    <body>
        {% section 'header' %}
        {{ content_for_layout }}
    </body>
</html>